@import url('http://fonts.googleapis.com/css?family=Ubuntu+Mono|Arvo|Droid Serif|Source+Sans+Pro:300&subset=latin,latin-ext');

body { font-family: 'Droid Serif', sans-serif; }

h1, h2, h3 , h4 { font: larger/0.8em 'Arvo', sans-serif; margin: 0.5em auto; padding: 0; }
h1 { font-size: 4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; font-weight: normal; }

p { line-height: 1.5em }

ol, ul { display: inline-block; text-align: left; }
ol li, ul li { margin: 0.5em 0; }

pre { display: inline-block; font: medium/1.75em 'Ubuntu Mono', monospace; text-align: left; }

code { border-radius: 0.5em; }

.remark-slide-content { padding: 1em !important; }

.dark { background: #222; color: #eee; text-shadow: 0 0 20px #111; }
.dark h1 { color: #e15; }
.dark h2, .dark h3, .dark h4 { color: #9b1; }
.dark strong { color: #e15; }
.dark em { color: #06a; }
.dark code { color: #f27;}
.dark a { display: inline-block; text-decoration: none; color: #06a; line-height: 1em; border-bottom: 0.1em solid #06a; }
.dark blockquote { position: relative; display: inline-block; margin: 1em; padding: 0; font: italic 1.25em/1em 'Droid Serif', serif; color: #06a; background-color: #222; }
.dark blockquote:before, .dark blockquote:after { content: '”'; position: absolute; color: #9b1; font: 4em/0.5em 'Droid Serif', serif; }
.dark blockquote:before { bottom: -0.5em; left: 0; }
.dark blockquote:after { top: 0; right: 0; }


.bright { background: #fefefe; color: #444; text-shadow: 0 0 20px #fff; }
.bright h1 { color: #e15; }
.bright h2, .dark h3, .dark h4 { color: #9b1; }
.bright strong { color: #e15; }
.bright em { color: #06a; }
.bright code { color: #f27; }
.bright a { display: inline-block; text-decoration: none; color: #06a; line-height: 1em; border-bottom: 0.1em solid #06a; }
.bright blockquote { position: relative; display: inline-block; margin: 1em; padding: 0; font: italic 1.25em/1em 'Droid Serif', serif; color: #06a; background-color: #222; }
.bright blockquote:before, .dark blockquote:after { content: '”'; position: absolute; color: #9b1; font: 4em/0.5em 'Droid Serif', serif; }
.bright blockquote:before { bottom: -0.5em; left: 0; }
.bright blockquote:after { top: 0; right: 0; }
